<div style="margin: 10px;" class="row">
  <div class="col-md-8"></div>
  <div class="col-md-1">
    <button style="padding: 5px;font-size: 14px;" title="Add Task" data-toggle="modal"
      (click)="addModalData()" data-target="#addTask" class="btn btn-primary btn-round"><i
        class="fa fa-plus"></i><span style="padding: 2px;"></span>Add Task</button>
  </div>
  <div class="col-md-1">
  <!-- <button><a routerLink="/FileUpload">Login</a></button> -->
  </div>

  <div class="col-md-2">
    <input style="height:35px;font-size: 14px; " type="text" class="form-control form-control-round"
      placeholder="Search" [(ngModel)]="filterSearch" (ngModelChange)="search()">
  </div>
</div>
<div style="margin : 30px;font-size: 14px; ">
  <table style="margin-top: 10px; " id="dtBasicExample" class="table table-striped table-bordered table-sm"
    cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">Task Name

        </th>
        <th class="th-sm">Project Name

        </th>
        <th class="th-sm">Status

        </th>
        <th class="th-sm">Task Created

        </th>
        <th class="th-sm">Task Updated
        </th>
        <th class="th-sm">
          Action
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let r of rows | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td>{{r.taskName | titlecase}}</td>
        <td>{{r.projectName| titlecase}}</td>
        <td>{{r.status| titlecase}}</td>
        <td>{{r.taskCreated|date}}</td>
        <td>{{r.taskCompleted}}</td>


        <td><span title="Delete" data-toggle="modal" style="color: red;cursor: pointer;"
            (click)="getTaskId(r)" data-target="#deleteTask" class="fa fa-trash fa-2x"></span>
          &nbsp;&nbsp;&nbsp;
          <span title="Edit" (click)="editModalData(r)" data-toggle="modal" data-target="#updateTask"
            style="cursor: pointer;" class="fa fa-pencil fa-2x">
          </span>
        </td>
      </tr>
      <tr *ngIf="rows.length == 0">
        <td colspan="8" style="color:red;text-align: center;">No Data To Display</td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination style="float: right;" [(page)]="page" [pageSize]="pageSize" [collectionSize]="rows.length">
  </ngb-pagination>
</div>
<!-- add modal -->
<div class="modal fade bd-example-modal-lg" id="addTask" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="Task()" #addForm="ngForm">
        <div class="modal-body">
          <div class="card ">
            <div class="card-body">
              <div style="margin:0px 20px 0px 20px;">

                <div class="col-md-12">
                  <label for="Description"><strong>Task
                      Name</strong></label><br>
                  <input type="text" placeholder="Enter Task" id="addTask" name="addTask" #addTask="ngModel"
                    [(ngModel)]="taskObj.addTask" [ngModelOptions]="{standalone: true}" class="form-control" required>
                </div><br>

                <div class="col-md-12">
                  <label for="Description"><strong>Project Name
                    </strong></label><br>
                  <input type="text" placeholder="Enter Project Name" id="addProject" name="addProject"
                    #addProject="ngModel" [(ngModel)]="taskObj.addProject" [ngModelOptions]="{standalone: true}"
                    class="form-control" required>
                </div><br>

                <div class="col-md-12">
                  <label for="Description"><strong>Description
                    </strong></label><br>
                  <input type="text" placeholder="Enter Project description" id="addDescription" name="addDescription"
                    #addDescription="ngModel" [(ngModel)]="taskObj.addDescription" [ngModelOptions]="{standalone: true}"
                    class="form-control" required>
                </div><br>
                <div class="col-md-6">
                  <div class="mt-1">
                    <label><strong>Status</strong></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="materialUnchecked"
                      [ngModelOptions]="{standalone: true}" name="materialExampleRadios" [(ngModel)]="taskObj.status"
                      value="Completed" required>
                    <label class="form-check-label" for="materialUnchecked">Completed</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="materialChecked"
                      [ngModelOptions]="{standalone: true}" name="materialExampleRadios" [(ngModel)]="taskObj.status"
                      value="uncompleted" required>
                    <label class="form-check-label" for="materialChecked">uncompleted</label>

                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add
                </button>
              </div>


            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-lg" id="updateTask" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">update Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="TaskMarkUpdate()" #addForm="ngForm">
        <div class="modal-body">
          <div class="card ">
            <div class="card-body">
              <div style="margin:0px 20px 0px 20px;">

                <div class="col-md-12">
                  <label for="Description"><strong>Task
                      Name</strong></label><br>
                  <input type="text" placeholder="Enter Task" id="updateTask" name="updateTask" #updateTask="ngModel"
                    [(ngModel)]="taskObj.updateTask" [ngModelOptions]="{standalone: true}" class="form-control" required>
                </div><br>

                <div class="col-md-12">
                  <label for="Description"><strong>Project Name
                    </strong></label><br>
                  <input type="text" placeholder="Enter Project Name" id="updateProject" name="updateProject"
                    #updateProject="ngModel" [(ngModel)]="taskObj.updateProject" [ngModelOptions]="{standalone: true}"
                    class="form-control" required>
                </div><br>

                <div class="col-md-12">
                  <label for="Description"><strong>Description
                    </strong></label><br>
                  <input type="text" placeholder="Enter Project description" id="updateDescription" name="updateDescription"
                    #updateDescription="ngModel" [(ngModel)]="taskObj.updateDescription" [ngModelOptions]="{standalone: true}"
                    class="form-control" required>
                </div><br>
                <div class="col-md-6">
                  <div class="mt-1">
                    <label><strong>Status</strong></label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="updatematerialUnchecked"
                      [ngModelOptions]="{standalone: true}" name="materialExampleRadios" [(ngModel)]="taskObj.updatestatus"
                      value="Completed" required>
                    <label class="form-check-label" for="materialUnchecked">Completed</label>
                  </div>

                  <div class="form-check form-check-inline">
                    <input type="radio" class="form-check-input" id="updatematerialChecked"
                      [ngModelOptions]="{standalone: true}" name="materialExampleRadios" [(ngModel)]="taskObj.updatestatus"
                      value="uncompleted" required>
                    <label class="form-check-label" for="materialChecked">uncompleted</label>

                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">save changes
                </button>
              </div>


            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal" tabindex="-1" id="deleteTask" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are You sure you want to delete this task</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-secondary" (click)="deleteTask()"
          data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>
