<div style="margin: 10px;" class="row">
  <div class="col-md-9"></div>
  <div class="col-md-1">
    <button style="padding: 5px;font-size: 14px;" title="Add Task" data-toggle="modal" (click)="addModalData()"
      data-target="#addFileupload" class="btn btn-primary btn-round"><i class="fa fa-plus"></i><span
        style="padding: 2px;"></span>Add File</button>
  </div>


  <div class="col-md-2">
    <input style="height:35px;font-size: 14px; " type="text" class="form-control form-control-round"
      placeholder="Search" [(ngModel)]="filterSearch" (ngModelChange)="search()">
  </div>
</div>
<div style="margin : 30px;font-size: 14px; ">
  <table style="margin-top: 10px; " id="dtBasicExample" class="table table-striped table-bordered table-sm"
    cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="th-sm">FileName

        </th>
        <th class="th-sm">Uploaded File

        </th>
        <th class="th-sm">Created At

        </th>
        <th class="th-sm">
          Action
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let r of rows | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize">
        <td>{{r.fileName | titlecase}}</td>
        <td>{{r.file| titlecase}}

        </td>
        <td>{{r.createdAt|date}}</td>



        <td><span title="Delete" data-toggle="modal" style="color: red;cursor: pointer;" (click)="getFileId(r)"
            data-target="#deleteFile" class="fa fa-trash fa-2x"></span>
          &nbsp;&nbsp;&nbsp;
          <span title="View File" style="color: blue;cursor: pointer;" data-toggle="modal" data-target="#exampleModalCenter"
            (click)="getUrl(r)" class="fa fa-play fa-2x"></span>
        </td>
      </tr>
      <tr *ngIf="rows.length == 0">
        <td colspan="8" style="color:red;text-align: center;">No Data To Display</td>
      </tr>
    </tbody>
  </table>

  <ngb-pagination style="float: right;" [(page)]="page" [pageSize]="pageSize" [collectionSize]="rows.length">
  </ngb-pagination>
</div>
<!-- add modal -->
<div class="modal fade bd-example-modal-lg" id="addFileupload" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form (ngSubmit)="File()"  #addForm="ngForm">
        <div class="modal-body">
          <div class="card ">
            <div class="card-body">
              <div style="margin:0px 20px 0px 20px;">

                <div class="col-md-12">
                  <label for="Description"><strong>File
                      Name</strong></label><br>
                  <input type="text" placeholder="Enter File Name" id="addFileName" name="addFileName" #addFileName="ngModel"
                    [(ngModel)]="fileObj.addFileName" [ngModelOptions]="{standalone: true}" class="form-control" required>
                </div><br>

                  <div class="col-md-12">
                    <label for="Description"><strong>Upload
                        File</strong></label><br>
                    <input type="file" placeholder="upload File" id="addFileUpload" name="addFileUpload" #addFileUpload="ngModel"
                      [(ngModel)]="fileObj.addFileUpload"  (change)="fileChange($event)" [ngModelOptions]="{standalone: true}" class="form-control" required>
                  </div><br>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add
                </button>
              </div>


            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



<div class="modal" tabindex="-1" id="deleteFile" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delete Task</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are You sure you want to delete this task</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-secondary" (click)="deleteFile()" data-dismiss="modal">Delete</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">View File</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-justified" style="text-align: center;">
        <img src="{{SASUrl}}" alt="image file" width="300px" height="300px">
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
